.maximized {
    background-color: #202020;
    position: fixed;
    right: 0px;
    top: 100px;
    float: right;
    height: 100%;
    width: 780px;
    visibility: hidden;

    &__img-holder {
        width: 100%;
        height: 400px;
        background-color: rgb(15, 15, 15);
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    &__img {
        height: inherit;
        width: inherit;
        object-fit: contain;
    }
    
    &__text {
        margin-left: 60px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #f1f3f4;

        &_aligned-right {
            float: right;
            text-align: left;
            margin-right: 400px;
        }
    }

    &__download-button {
        margin-left: 100px;
        margin-top: 160px;
        font-size: 62px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $green-button-color;
        border-radius: 30px;
        border: none;
        outline: none;
        cursor: pointer;

        
     &:hover {
        background-color: #569664;
    }
    }

    &__close-button {
        position: absolute;
        top: 30px;
        right: 40px;
        font-size: 80px;
        outline: none;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        color: white;
        text-shadow: black 6px 6px 10px;
        border: none;
    }
}