<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pictures</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body class="body">
<div id="app">
    <header class="header">
        <div class="header__contents">
            <a class="header__logo" href="./index.html">
                <img class="header__pic" src="./icons/android-chrome-192x192.png" alt="logo">
            </a>
            <p class="header__name">Gallery</p>
        </div>
    </header>

    <div class="gallery">
        <gallery-poster v-for="(poster, index) in gallery" :poster="poster" @maximize-poster="showMaximized"></gallery-poster>
    </div>

    <loadmore-button v-if="this.page < 11"></loadmore-button>

    <maximized v-if="isMaximized" :poster="maximizedPoster" @exit-maximized="hideMaximized"></maximized>

</div>
    
<!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <script src="./components/GalleryPoster.js"></script>
    <script src="./components/LoadMoreButton.js"></script>
    <script src="./components/Maximized.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
    
</body>
</html>